*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}


nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background: #000;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 73vh;
    background-color: #000;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 54px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    width: 100%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.songItem img{
    width: 50px;
    margin: 0 23px;  
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

/* .songInfo{
    position: absolute;
    left: 0;
} */

.songInfo img{
    opacity: 0;
    transition: ease-in;
}